@import "~bootstrap/scss/bootstrap";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/mixins.scss";
@import "./partials/welcome.scss";
@import "./partials/show.scss";

main {
    min-height: calc(100vh - 520px);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    height: 100%;  
}

a {
    text-decoration: none;
}


