header {
    background-color: white;
    min-height: 120px;

    .header-top {
        background-color: royalblue;
        min-height: 20px;
    }

    .header-bottom {

        .container {
            min-height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img-container {
                height: 70px;
            }
    
            ul {   
                display: flex;
                align-items: center;
                
                li {
                    display: flex;
                    justify-content: center;
                    align-items:center;
    
                    a {
                        font-weight: bold;
                        padding: 20px;
                    }
                }
            }
        }
        
    }
}